<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Project Tracker</title>
</head>
<body>
    <h1>Project Tracker</h1>
    <div class="form-container">
        <h3>Add a Team</h3>
        <form action="{{ url_for('add_team') }}" method="POST">
            {{ team_form.csrf_token() }}
            <div class="line-item">
                {{ team_form.team_name.label }}
                {{ team_form.team_name }}
            </div>
            <div class="line-item">
                {{ team_form.submit.label }}
                {{ team_form.submit }}
            </div>
        </form>
    </div>

    <br>
    
    <div class="form-container">
        <h3>Create a Project</h3>
        <form action="{{ url_for('add_project') }}" method="POST">
            {{ project_form.csrf_token() }}
            <div class="line-item">
                {{ project_form.project_name.label }}
                {{ project_form.project_name }}
            </div>
            <div class="line-item">
                {{ project_form.description.label }}
                {{ project_form.description }}
            </div>
            <div class="line-item">
                {{ project_form.completed.label }}
                {{ project_form.completed }}
            </div>
            <div class="line-item">
                {{ project_form.team_selection.label }}
                {{ project_form.team_selection }}
            </div>
            <div class="line-item">
                {{ project_form.submit.label }}
                {{ project_form.submit }}
            </div>
        </form>
    </div>
    
</body>
</html>